body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.wd-assignment-list > .list-group-item {
  border-left: 4px solid var(--bs-success) !important;
  border-top: 0 !important;
  border-right: 0 !important;
}

.list-group.wd > .list-group-item.active {
  color: black !important;
  background-color: white;
  border-left: 3px solid black !important;
}
